{
  "bracketSameLine": true,
  "semi": false,
  "arrowParens": "avoid",
  "useTabs": true,
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
